@font-face {
  font-family: 'MasonChronicles';
  src: url('../fonts/MasonChronicles.woff') format('woff');
  src: url('../fonts/MasonChronicles.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:afetr {
  box-sizing: border-box;
}

body {
  background-color: #141218;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../img/background-witcher.jpg);
  background-repeat: no-repeat;
  background-position: top right 20%;
}

.container {
  /***border: 1px red solid;**/
  width: 95%;
  max-width: 1140px;
  margin: auto;
}


/** HEADER **/
.menu-button {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  margin-bottom: 90px;
}

.menu-list {
  margin-right: auto;
  margin-left: 67px;
}

.menu-link {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 24px;
}

.social-link {
  margin-left: 20px;
  text-decoration: none;
}


/** MAIN **/
.main-content {
  display: flex;
  align-items: center;
  margin-bottom: 85px;
}

.genre {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 16px;
  display: block;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rating-number {
  font-size: 12px;
  line-height: 14px;
  margin-left: 9px;
}

.main-title {
  font-family: 'MasonChronicles', serif;
  font-size: 76px;
  line-height: 89px;
  margin-bottom: 10px;
}

.main-description {
  max-width: 462px;
  /*Исправлено по совету кураторов*/
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 40px;
}

.button {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  background: #9D2929;
  border-radius: 8px;
  color: #fff;
  border: none;
  padding: 22px 72px;

}

.play-img {
  position: relative;
  /*Vector appears above*/
  transform: translate(5px);
}

.play {
  background-color: #9D2929;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  border: none;
  position: relative;
}

.play:before {
  content: '';
  width: 132px;
  height: 132px;
  background-color: #9D2929;
  position: absolute;
  opacity: 0.5;
  border-radius: 50%;
  left: -16px;
  top: -16px;
}

/* slider */

.series {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  position: relative;
  max-width: 420px;
}

.card {
  width: 164px;
  height: 113px;

  border-radius: 8px;
  padding: 13px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-subtitle {
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 2px;
}

.card-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}


.swiper-container {
  max-width: 420px;
  margin-left: 0;
}


/* SERIES CARDS IMAGES */

.series-1 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/series/card-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.series-2 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/series/card-image-2.jpg);
  ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.series-3 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/series/card-image-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.series-4 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/series/card-image-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.series-5 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/series/card-image-5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.series-6 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/series/card-image-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.series-7 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/series/card-image-7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.series-8 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(../img/series/card-image-8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.arrow {
  width: 32px;
  height: 23px;
  border: none;
  background: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  right: -40px;
}

/* footer */

.footer {
  background: #141218;
  padding: 20px 0;
  margin-top: auto;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-link {
  text-decoration: none;
  color: rgb(255, 255, 255, 0.4);
  margin-left: 25px;
  font-size: 14px;
}

.copyright {
  color: rgb(255, 255, 255, 0.4);
  font-size: 14px;
}


/* Responsive */

@media (max-width: 768px) {

  /*эти правила будут применяться как только ширина экрана становится меньше 768*/
  .play {
    display: none;
  }

  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .copyright {
    display: block;
    margin-bottom: 8px;
  }

  .footer-link:first-child {
    margin-left: 0;
  }
}


@media (max-width: 540px) {

  /**Приколюшки**/
  /****
  .menu-button-active {
    z-index: 111;
  }

  .main-title {
    z-index: 110;
  }

  .header-active {
    z-index: 109;
    margin-right: -3px;
  }

  .content {
    position: relative;
  }
  
  .header-active {
    display: flex;
    border-bottom-left-radius: 80px;
  }
****/


  /********/
  .menu-button {
    display: block;
    position: absolute;
    right: 35px;
    top: 40px;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border: none;
    cursor: pointer;
  }

  .menu-button:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -7px;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border: none;
    transition: transform 0.2s;
  }

  .menu-button:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 7px;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border: none;
    transition: transform 0.2s;
  }

  .menu-button-active {
    height: 0;
  }

  .menu-button-active:before {
    transform: rotate(45deg);
    margin-top: 0;
  }

  .menu-button-active:after {
    transform: rotate(-45deg);
    margin-top: 0;
  }

  .header {
    display: none;
    width: 250px;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    padding-bottom: 40px;
    background-color: #9D2929;
  }

  .header-active {
    display: flex;
  }

  .logo {
    margin-bottom: 25px;
  }

  .menu-list {
    margin: auto;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*!!!!!!*/
  }

  .menu-link {
    margin-right: 0;
    margin-bottom: 17px;
  }

  .social {
    order: 1;
    margin-bottom: 22px;
  }

  .social-link:first-child {
    margin: 0;
  }

  .swiper-container {
    width: 80%;
  }

  .main-content {
    margin-top: 196px;
  }

  .main-title {
    font-size: 56px;
  }

  .series {
    /* В разрешении Pixel2 XL с 80%- видна часть следующего слайда. Поэтому- 78% */
    width: 78%;
  }
}